<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="QuanLyThuPhiCapNuocSach"
			 connectionString = "Data Source=KHANG\SQLEXPRESS02;
								 database = QuanLyThuPhiCapNuocSach;
								 uid = khang;
								 pwd = 123;
								TrustServerCertificate=True"/>
	</connectionStrings>
</configuration>